@font-face {
    font-family:'JungThin';
    src: url('font/THEJung110A.woff2') format('woff2'),
        url('font/THEJung110A.woff') format('woff'),
        url('font/THEJung110A.ttf') format('truetype'),
        url('font/THEJung110A.svg') format('svg');
}

@font-face {
    font-family:'JungNormal';
    src: url('font/THEJung130A.eot?#iefix') format('embedded-opentype'),
        url('font/THEJung130A.woff2') format('woff2'),
        url('font/THEJung130A.woff') format('woff'),
        url('font/THEJung130A.ttf') format('truetype'),
        url('font/THEJung130A.svg') format('svg');
}

@font-face {
    font-family:'JungBold';
    src: url('font/THEJung160A.eot?#iefix') format('embedded-opentype'),
        url('font/THEJung160A.woff2') format('woff2'),
        url('font/THEJung160A.woff') format('woff'),
        url('font/THEJung160A.ttf') format('truetype'),
        url('font/THEJung160A.svg') format('svg');
}

@font-face {
    font-family:'Ssangmun';
    src: url('font/TypoSsangmunDongB.eot?#iefix') format('embedded-opentype'),
        url('font/TypoSsangmunDongB.woff2') format('woff2'),
        url('font/TypoSsangmunDongB.woff') format('woff'),
        url('font/TypoSsangmunDongB.ttf') format('truetype'),
        url('font/TypoSsangmunDongB.svg') format('svg');
}

p, span, div, text, a, li, input, h1, h2, h3, h4, h5, h6 {
    font-family: 'JungThin';
}

button:focus {
    outline: none!important;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

#loader {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 6px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}